:root{
    font-family: Lato;
}
body{
    background-color: #fff;
    margin: 20px 10%;
}
h1{
    font-size: 2.75rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    /* border: 1px solid blue; */
}

nav .logo{
    /* border: 1px solid red; */
}
 h5 span{
    font-style: italic;
    font-size: 1.25rem;
}

nav .links{
    /* width: 60%; */
    /* border: 2px solid green; */
}

nav ul li{
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        margin-bottom: 50px;
    }
    nav .logo{
        text-align: center;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px;
    }
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner .callToAction{
    width: 35%;
}

.banner .callToAction .img-container{
    width: 100%;
    height: 200px;
    /* border: 2px solid red; */
}
.banner .callToAction h1{
    margin-bottom: 30px;
}
.banner .callToAction p{
    margin-bottom: 30px;
    line-height: 1.6;
}
.banner .callToAction .img-container{
    margin-bottom: 30px;
}
.banner .callToAction .img-container img{
    width: 80%;
    height: 200px;
}

.banner .large-furniture{
    width: 50%;
}
.banner .large-furniture img{
    width: 100%;
    height: 600px;
}
.btn-div{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn{
    text-decoration: none;
    border: none;
    padding: 15px 35px;
}

.green{
    background-color: green;
    color: #fff;
    text-transform: capitalize;
}
.white{
    background-color: #fff;
    color: green;
    text-transform: capitalize;
    border: 1px solid green;
}

@media screen and (max-width: 600px) {
    .banner{
        flex-direction: column;
    }
    .banner .callToAction{
        width: 90%;
        margin: 50px auto;


    }
    .banner .callToAction .img-container img{
        width: 100%;
    }
    .banner .large-furniture{
        width: 90%;
        margin: auto;
        
    }

}